streamlit
langgraph
langchain
langchain-groq
langchain-openai
langchain-core
langchain-text-splitters
langgraph-checkpoint-sqlite
chromadb
youtube-transcript-api
tiktoken
numpy
scikit-learn
python-dotenv
